asgiref==3.8.1
backports.zoneinfo==0.2.1
cfgv==3.4.0
config==0.5.1
coverage==7.6.1
distlib==0.3.8
Django==4.2.16
filelock==3.16.1
identify==2.6.1
nodeenv==1.9.1
platformdirs==4.3.6
pre-commit==3.5.0
psycopg2==2.9.9
python-decouple==3.8
PyYAML==6.0.2
sqlparse==0.5.1
typing_extensions==4.12.2
virtualenv==20.26.5
